@import "/css/reset.css";

@import "components/background.css";
@import "components/clock.css";

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.done {
  text-decoration: line-through;
}
