.to-do-form {
  position: absolute;
  top: 280px;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 45px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.to-do-input {
  border: none;
  height: 30px;
  font-size: 20px;
}
.to-do-input::placeholder {
  font-size: 20px;
}
