.greeting-form {
  position: absolute;
  top: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.greeting-form input:first-child {
  border: none;
}

.greeting {
  position: absolute;
  top: 70px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 70px;
  padding: 8px 10px;
  border-radius: 20px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  margin-top: 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px groove rgb(236, 236, 236);
  border-radius: 5px;
  padding: 3px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.2px;
}
.button:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
