.greeting-form {
  position: absolute;
  top: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.greeting-form input:first-child {
  border: none;
}

.greeting {
  position: absolute;
  top: 80px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 70px;
  margin-bottom: 30px;
  padding: 8px 10px;
  border-radius: 20px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}
